<h1>Components</h1>

<div id="root">
    <task>Go to the store</task>
    <task>Go to the bank</task>
    <task>Go to work</task>
</div>

@section Scripts{
    <script src="~/js/main.js"></script>

    <script>
        new Vue({
            el: '#root'
        });
    </script>
}
