<h1>Step 1: Basic Data Binding</h1>

<div id="root">
    <input class="form-control" type="text" id="input" v-model="message" />
    <pre>The value of the input is: {{message}}</pre>
    <pre>The data of vue is {{$data}}</pre>
</div>

@section Scripts{
    <script>
        var vue = new Vue({
            el: '#root',
            data: {
                message: 'Hello World'

            }

        });
    </script>
}
