<h1>Step 3: Lists</h1>

<div id="root" v-cloak>
    <ul>
        <li v-for="name in names">{{name}}</li>
    </ul>
    <input id="newNameInput" type="text" class="form-control" v-model="newName" />
    <button class="btn btn-primary btn-sm" v-on:click="addName">Add Name</button>
</div>

@section Scripts{
    <script>
        new Vue({
            el: '#root',
            data: {
                newName: '',
                names: ['Joe', 'Mary', 'Jane', 'Jack']
            },
            methods: {
                addName: function () {
                    if (this.newName && _.indexOf(this.names, this.newName) == -1) {
                        this.names.push(this.newName);
                        this.newName = '';
                    }
                }
            }
        });
    </script>
}
